@import "tailwindcss";

@font-face {
  font-family: "tt";
  src: url("/fonts/TTbold.ttf");
}

@utility font-tt {
  font-family: "tt";
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-background-accent: var(--background-accent);
  --color-gradient-start: #ff0044;
  --color-gradient-end: #feae35;
}

.scroll-item {
  animation: scroll 20s linear infinite;
}

:root {
  --background: #f2f4fa;
  --background-accent: #ffffff;
  --foreground: #2d1e2f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "tt", sans-serif;
}

@keyframes scroll {
   0% {
    transform: translateX(0);
   }
   100% {
    transform: translateX(calc(-100% - 4rem));
   }
}
